/* Css Reset */


*, *::after, *::before {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

:root {
	--color-background: #F4F5F6;

	--color-primary-text: #0F172A;
	--color-secondary-text: #334155;
	--color-tertiary-text: #64748B;
	--color-white-text: #fff;
	--color-border-light: #E2E8F0;

	--font-sans: 'Inter', Arial, sans-serif, system-ui;

	--font-regular: 400;
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;

	--font-size-64: 4em;
	--font-size-36: 2.25em;
	--font-size-32: 2em;
	--font-size-24: 1.5em;
	--font-size-20: 1.25em;
	--font-size-16: 1em;
	--font-size-14: 0.875em;
	--font-size-12: 0.75em;
}

body {
	margin: 0;
	font-size: 100%;
	font-family: var(--font-sans);
	color: var(--color-dark-text);
}

h1, h2 {
	font-family: var(--font-sans);
	font-weight: var(--font-bold);
	margin-top: 0;
}

h3, h4, h5, h6 {
	font-family: var(--font-sans);
	font-weight: var(--font-semibold);
	margin-top: 0;
}

h1 {
	font-size: var(--font-size-64);
}

h2 {
	font-size: var(--font-size-36);
}

h3 {
	font-size: var(--font-size-24);
}

h4 {
	font-size: var(--font-size-20);
}

h5 {
	font-size: var(--font-size-16);
}

h6 {
	font-size: var(--font-size-14);
}


p {
	margin-top: 0;
	margin-bottom: 1.25em;
	font-family: var(--font-sans);
	font-weight: var(--font-regular);
	font-size: var(--font-size-16);
	color: var(--color-tertiary-text);
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: var(--color-secondary-text);
	font-weight: var(--font-medium);
	font-size: var(--font-size-16);
	text-decoration: none;
	cursor: pointer;
}


.important-text {
    font-size: var(--font-size-20);
    color: var(--color-secondary-text);
    margin-top: 12px;
}


/*navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 80px;
}

.nav-logo img {
	width: 120px;
	height: auto;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a:hover {
    color: var(--color-primary-text);
    text-decoration: underline;
}

/*section header*/
.section-header {
	text-align: center;
	padding: 0 0 40px 0;
	margin-bottom: 48px;
}

/*container*/
.container {
	margin: 0 auto;
	padding: 80px 10%;
}

/*footer*/
footer {
	padding: 60px 120px;
	width: 100%;
	color: var(--color-border-light);
	text-align: center;
}

.divider {
    height: 1px;
    background-color: var(--color-border-light);
    width: 100%;
    margin: 0 0 80px 0;
}


/*hero section*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    background-color: var(--color-background);
}

.hero-text {
    flex: 1;
}

.hero-text h1, .hero-text p {
	max-width: 500px;
	margin: 0 auto;
}

.hero-image {
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 900px) {
	.hero-text h1, .hero-text p {
		text-align: center;
	}

	.hero-image {
		display: none !important;
	}
}

/*blog section*/
.gap.custom-blog {
    --grid-gap: 48px 36px;
    grid-gap: var(--grid-gap);
    gap: var(--grid-gap);
}


.blog-card img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.blog-card .text-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
